{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "chrome": "80",
            "firefox": "75",
            "safari": "13.1",
            "edge": "80"
          },
          "bugfixes": true,
          "shippedProposals": true
        },
        "transform-runtime": {
          "corejs": false
        }
      }
    ]
  ]
}